<section class="row" id="about">
  <div class="co1-12 col-md-4 text-md-right">
    <h2>
      About
    </h2>
  </div>
  <div class="col-12 col-md-8">
    <%- site.resume[0].about.description.html %>
    <dl class="row">
      <dt class="col-4">
        New Career
      </dt>
      <dd class="col-8">
        Web Development
        <br>
        <i>- since May 2018</i>
      </dd>
      <dt class="col-4">
        Previous Career
      </dt>
      <dd class="col-8">
        Language School Mangement
        <br>
        <i>- a decade of experience</i>
      </dd>
      <dt class="col-4">
        Studied
      </dt>
      <dd class="col-8">
        Architecture
        <br>
        <i>- BSc University of Strathclyde </i>
      </dd>
    </dl>
  </div>
</section>