<section id="training-education">

  <div class="row justify-content-end">
    <div class="col-1">
      <nav class="nav justify-content-end">
        <a class="nav-link" href="#top">
          <small>top</small>
        </a>
      </nav>
    </div>
  </div>

  <div class="row mt-3 mb-5">

    <div class="co1-12 col-md-4 text-md-right">
      <h2>
        Education and Training
      </h2>
      <p class="text-muted">
        The 1990's
      </p>
    </div>
    <div class="col-12 col-md-8">
      <!-- educationAndTraining.description -->
      <p>
        From an education in design, to training in performance, and the skills to produce broadcast quality video.
      </p>



      <div class="row">
        <div class="col">
          <div class="accordion" id="education-list">
            <div class="card rounded-0">
              <div class="card-header my-green-bg my-green-bg" id="video-production">
                <h5 class="mb-0">
                  <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseVideo-production" aria-expanded="true"
                    aria-controls="collapseVideo-production">
                    Video Production
                  </button>
                </h5>
              </div>

              <div id="collapseVideo-production" class="collapse show" aria-labelledby="video-production" data-parent="#education-list">
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-4 small">
                      NVQ Video Production
                      <!-- course.name -->
                    </dt>
                    <dd class="col-8">
                      <!-- course.organisation -->
                      Video Information Project
                      <br>
                      <!-- course.location -->
                      <br>
                      <!-- course.date -->
                      <i>January 1999 - July 1999</i>
                    </dd>
                  </dl>
                  <ul class="list-unstyled">
                    <li>
                      <!-- course.outcome -->
                      <b>
                        Learned
                      </b>
                      Video production in a foundation course with practical training on video production, including workshops on:
                    </li>
                    <ul class="small muted">
                      <li>
                      <!-- course.details -->
                        Lighting, sound recording, camera use, recording formats
                      </li>
                      <li>
                        Location and studio shooting, reconnaissance, scheduling and logistics
                      </li>
                      <li>
                        Conceptualising, writing and scripts, storyboarding, editing
                      </li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header my-green-bg" id="acting">
                <h5 class="mb-0">
                  <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseActing" aria-expanded="false"
                    aria-controls="collapseActing">
                    Acting
                  </button>
                </h5>
              </div>
              <div id="collapseActing" class="collapse" aria-labelledby="acting" data-parent="#education-list">
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-4 small">
                      Acting Workshop
                    </dt>
                    <dd class="col-8">
                      The Actor’s Workshop, Glasgow
                      <br>
                      <i>March 1998 - February 1999</i>
                    </dd>
                  </dl>
                  <ul class="list-unstyled">
                    <li>
                      <b>Learned</b> to act in a Meisner technique acting workshop run by
                      <a href="https://www.scotlandsartists.com/sales/robert_parsifal_finch">Robert Parsifal Finch.</a>
                    </li>
                    <ul class="small muted">
                      <li>
                        Imagination, voice and speech, physical training. 3 act play performance.
                      </li>
                      <li>
                        Graduates included
                        <a href="https://en.wikipedia.org/wiki/Rory_McCann">Rory McCann</a>
                        (Sandor Clegane, Game of Thrones).
                      </li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header my-green-bg" id="architecture">
              <h5 class="mb-0">
                <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseArchitecture"
                  aria-expanded="false" aria-controls="collapseArchitecture">
                  Architecture
                </button>
              </h5>
            </div>
            <div id="collapseArchitecture" class="collapse" aria-labelledby="architecture" data-parent="#education-list">
              <div class="card-body">
                <dl class="row">
                  <dt class="col-4 small">
                    BSc Architecture
                  </dt>
                  <dd class="col-8">
                    University of Strathclyde, Glasgow
                    <br>
                    <i>October 1992 - April 1998</i>
                  </dd>
                </dl>
                <ul class="list-unstyled">
                  <li>
                    <b>Studied</b> and practiced building design from the experience and needs of users, clients, stakeholders,
                    and city residents.
                  </li>
                  <li class="small">
                    <b>Completed</b> 20 building design projects use these techniques<br>
                  </li>
                  <ul class="list-unstyled small">
                    <li>
                      Analysis of assignment, design brief and construction site.
                    </li>
                    <li>
                      Conceptualisation, ideation and assessment.
                    </li>
                    <li>
                      Detailing according to assignments. Finalisation, draughting and presentation.
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--/.accordian-->
      </div>
      <!--/.column-->
    </div>

    <hr>

  </div>
</section>