<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
      Ryan O'Shea
    </h1>
    <p>
      development, management, design
    </p>
    <hr class="my-4" />
    <blockquote class="blockquote">
      <p>
        When you come to a fork in road, take it.
      </p>
      <footer class="blockquote-footer">
        Yogi Berra
      </footer>
    </blockquote>
    <!-- TODO Add input and submit button -->
    <!-- <a class="btn my-green-bg text-white rounded-0" href="<%= site.basePath %>./resume.html" role="button">Learn more</a> -->
    
    <a class="btn my-green-bg text-white rounded-0" href="" role="button">Learn more</a>
  </div>
</div>

<footer id="contact">
  <div class="container">
    <div class="row py-md-5 pb-sm-5 pt-sm-3 pt-0 pb-3">
      <div class="col-10 offset-2 col-md-4 offset-md-0 text-md-right">
        <h3>
          Contact
        </h3>
      </div>
      <div class="col-10 offset-2 offset-md-0 col-md-4">
        <p>
          <a href="https://www.linkedin.com/in/ryanjamesoshea/">linkedin.com/ryanjamesoshea</a>
          <br>
          <a href="https://www.exitroute.org" target="_blank">www.exitroute.org</a>
          <br>
          <a href="https://github.com/exitroute">github.com/exitroute</a>
          <br>
        </p>
      </div>
    </div>
  </div>
</footer>