<section id="skills-and-tools">

  <div class="row justify-content-end">
    <div class="col-1">
      <nav class="nav justify-content-end">
        <a class="nav-link" href="#top">
          <small>top</small>
        </a>
      </nav>
    </div>
  </div>

  <div class="row mt-3 mb-5">

    <div class="co1-12 col-md-4 text-md-right">
      <h2>
        Skills and Tools
      </h2>
    </div>
    <div class="col-12 col-md-8">
      <p class="mb-4">
        Ryan brings the following set of
        <b>skills</b> and
        <b>tools</b> to the workplace:
      </p>


      <!--skills and tools cards-->

      <div class="row">

        <div class="col-6 col-md-4 order-1 order-md-1 my-green-bg py-3 border border-white border border-white text-center">
          <h5 class="font-weight-bold text-white text-center">Development</h5>
          <span class="d-inline-block bg-white rounded-left rounded-right m-1 p-1">strategy</span>
          <span class="d-inline-block bg-white rounded-left rounded-right m-1 p-1">events</span>
          <span class="d-inline-block bg-white rounded-left rounded-right m-1 p-1">ideas</span>
          <span class="d-inline-block bg-white rounded-left rounded-right m-1 p-1">culture</span>
          <span class="d-inline-block bg-white rounded-left rounded-right m-1 p-1">teams</span>
          <span class="d-inline-block bg-white rounded-left rounded-right m-1 p-1">people</span>
        </div>
        <div class="col-6 col-md-4 order-3 order-md-2 my-green-bg text-white py-3 border border-white">
          <h5 class="font-weight-bold text-center">Management</h5>
          <p class="text-capitalize text-center">execution, planning,
            <br> alingment, persuasion,
            <br> accountability</p>
        </div>
        <div class="col-6 col-md-4 order-5 order-md-3 my-green-bg text-white py-3 border border-white">
          <h5 class="font-weight-bold text-center">Design</h5>
          <p class="text-center">
            Experiences and Services for:
            <br> Learning,
            <br> Customers,
            <br> Employees
          </p>
        </div>
        <div class="col-6 col-md-4 order-2 order-md-4 text-center py-3 border-white">
          <h5 class="font-weight-bold text-center">Technology</h5>
          <span class="d-inline-block my-green-bg text-white rounded-left rounded-right m-1 p-1">HTML</span>
          <span class="d-inline-block my-green-bg text-white rounded-left rounded-right m-1 p-1">CSS</span>
          <span class="d-inline-block my-green-bg text-white rounded-left rounded-right m-1 p-1">CRM</span>
          <span class="d-inline-block my-green-bg text-white rounded-left rounded-right m-1 p-1">LMS</span>
          <span class="d-inline-block my-green-bg text-white rounded-left rounded-right m-1 p-1">Lightroom</span>
          <span class="d-inline-block my-green-bg text-white rounded-left rounded-right m-1 p-1">Linux</span>
          <span class="d-inline-block my-green-bg text-white rounded-left rounded-right m-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="Video Mixing">Coge</span>
        </div>
        <div class="col-6 col-md-4 order-4 order-md-5 my-green-bg text-white py-3 border border-white">
          <h5 class="font-weight-bold text-center">Methods</h5>
          <p class="text-center">
            Design Thinking,
            <br> Project Based Learning
            <br> SMART Goals, OKRs
            <br> Agile, Kanban, Lean
            <br> CLL, Dogme ELT
            <br> QMS, ISO 900
          </p>
        </div>
        <div class="col-6 col-md-4 order-6 order-md-6 my-green-bg text-white py-3 border border-white">
          <h5 class="font-weight-bold text-row-center">Languages</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>
  </div>

</section>