<nav class="navbar navbar-expand-md navbar-light my-green-bg rounded-0" id="top">
    <a class="navbar-brand text-white" href="<%= site.basePath %>/">Resume</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsResume" aria-controls="navbarsResume"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse small" id="navbarsResume">
      <ul class="navbar-nav mr-auto text-md-center">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#skills-and-tools">Skills &amp; Tools</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#recent-work">Recent Work</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#management-experience">Management Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#teaching-experience">Teaching Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#training-education">Training &amp; Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>